{% extends "blog/base.html" %}
{% block content %}
	<h1>About</h1>
	<p>
		This website is a demo by <a href="https://www.linkedin.com/in/cheng-guan-teo-844b944/">chengguan</a>.
	</p>
	<p>
		Built from scratch using Django, Crispy forms and Pillow. It is currently running on an AWS instance (free tier).
	</p>
	Note:
	<p>
		1. The origianl tutorial was deployed on Ubuntu 18 but my implementation is on AWS Ubuntu 18. 
	</p>
	<p>
		2. Access rules in Security Group were used instead of UFW as done by Corey. 
	</p>
	<h2>Credit:</h2>
	<p>
	  Corey Schafer (Django tutorial)
	</p>
	<p>  
		AWS free tier
	</p>

	<h5>
		Any bug or comment, please write to <a href="mailto:chengguan.teo@gmail.com"> chengguan</a>
	</h5>
	
{% endblock content %}
